<a href="https://colab.research.google.com/github/Devendarreddybathini/Devendarreddy_INFO5731_spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answesr here
sample="HI DEVENDAR"
print(len(sample))

11

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [3]:
# write your answer here
x ='google.com'
dic={}
for w in x:
  if w in dic:
    dic[w]+=1
  else: dic[w]=1
print(dict(sorted(dic.items(), key=lambda x: x[1], reverse=True)))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [4]:
# write your answer here
series=[1, 2, 3, 4, 5]
print(sum(series))

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [5]:
# write your answer here
b_string="restart"
f_char=b_string[0]
new_string=b_string.replace(f_char, '$')
new_string=f_char+new_string[1:]
print(new_string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [6]:
# write your answer here
a=int(input("Enter A value"))
b=int(input("Enter B value"))
def fun(a,b):
    result=3.14*((1+a/b)**3)
    return result
fun(a,b)

Enter A value3
Enter B value5

12.861440000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dictionary1={1:10, 2:20}
dictionary2={3:30, 4:40}
dictionary3={5:50,6:60}
newdictdictionary={**dictionary1, **dictionary2, **dictionary3}
print(newdictdictionary)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [8]:
# write your answer here
tuple=(1,2,3,4,5,6)
element=3
if(element in tuple):
    print("Element is present")
else:
    print("Element is not present")

Element is present

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [9]:
# write your answer here
sample = {1, 2, 3, 4, 5}

maximum = max(sample)
minimum = min(sample)

print("Maximum value in set:", maximum)
print("Minimum value in set:", minimum)

Maximum value in set: 5
Minimum value in set: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [12]:
# write your answer here
import random

student_list=['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
num_groups=6
group_size=(len(student_list)+num_groups-1)//num_groups
random.shuffle(student_list)
grouped_students=[student_list[i:i+group_size] for i in range(0, len(student_list), group_size)]
for i, group in enumerate(grouped_students):
    print("Group {}: {}".format(i+1, group))

Group 1: ['sb1357', 'sk1390', 'sk1313', 'kg0470', 'bg0320']
Group 2: ['aos0040', 'av0659', 'ds0814', 'nv0234', 'ak0934']
Group 3: ['ja0964', 'hy0232', 'kg0569', 'vb0218', 'gn0108']
Group 4: ['nm0618', 'sa1198', 'sc1229', 'ms1500', 'sm1907']
Group 5: ['sg1297', 'sk1386', 'fh0141', 'jl1252', 'sk1458']
Group 6: ['pr0353', 'ak0956', 'vm0377', 'sm1640', 'dr0609']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [13]:
# write your answer here
array=[2,2,4,4,5,67,8]
duplicate_elements=[]
for i in range(len(array)):
    for j in range(i+1, len(array)):
        if array[i]==array[j]:
            duplicate_elements.append(array[i])
if len(duplicate_elements)==0:
    print("-1")
else:
    print(list(set(duplicate_elements)))

[2, 4]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here