<a href="https://colab.research.google.com/github/Devendarreddybathini/Devendarreddy_INFO5731_spring2023/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random

numbers = [random.randint(1, 100) for i in range(12)]
print("Random numbers: ", numbers)

numbers.sort()
print("Ascending order: ", numbers)

numbers.sort(reverse=True)
print("Descending order: ", numbers)

average = sum(numbers) / len(numbers)
print("Average: ", average)

Random numbers:  [53, 27, 84, 42, 73, 45, 53, 17, 75, 16, 70, 30]
Ascending order:  [16, 17, 27, 30, 42, 45, 53, 53, 70, 73, 75, 84]
Descending order:  [84, 75, 73, 70, 53, 53, 45, 42, 30, 27, 17, 16]
Average:  48.75

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Your code here
import string
import re
sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

# Split the sentence into words and punctuations using regular expressions
regex = r'\b\w+\b|[^\w\s]+'
words_and_punctuations1 = re.findall(regex, sentence1)
words_and_punctuations2 = re.findall(regex, sentence2)

sentence1_list = [word for word in words_and_punctuations1]
sentence2_list = [word for word in words_and_punctuations2]
# Print the words and punctuations
print("Words in the first sentence: ", sentence1_list)
print("Words in the second sentence: ", sentence2_list)

#comparing the strings and printing the common words
common_words = [word for word in sentence1_list if word in sentence2_list]
print("Common words: ", common_words)

# Remove punctuation
# Define a string of punctuation characters to remove
punctuation = ",.;:@?!"

# Use the translate() method with the string.punctuation string as argument to remove the punctuation
new_sentence1 = sentence1.translate(str.maketrans("", "", punctuation))
new_sentence2 = sentence2.translate(str.maketrans("", "", punctuation))
print("Words in the first sentence after strip: ", new_sentence1)
print("Words in the second sentence after strip: ", new_sentence2)


# Define a string of vowels
vowels = "aeiou"

# Initialize dictionaries to store the count of each vowel
vowel_count = {v:0 for v in vowels}

# Iterate through each character in the sentence
for char in new_sentence1.lower():
    # If the character is a vowel, increment the count in the dictionary
    if char in vowels:
        vowel_count[char] += 1

# Print the count of each vowel
for vowel, count in vowel_count.items():
    if count > 0:
        print(f"{vowel}: {count}")

Enter the first sentence: Al Kilani, M., & Kobziev, V. (2016). An overview of research methodology in information system (IS). Open Access Library Journal, 3(11), 1-9.
Enter the second sentence: Al Kilani, M., & Kobziev, V. (2016). An overview of research methodology in information system (IS). Open Access Library Journal, 3(11), 1-9.
Words in the first sentence:  ['Al', 'Kilani', ',', 'M', '.,', '&', 'Kobziev', ',', 'V', '.', '(', '2016', ').', 'An', 'overview', 'of', 'research', 'methodology', 'in', 'information', 'system', '(', 'IS', ').', 'Open', 'Access', 'Library', 'Journal', ',', '3', '(', '11', '),', '1', '-', '9', '.']
Words in the second sentence:  ['Al', 'Kilani', ',', 'M', '.,', '&', 'Kobziev', ',', 'V', '.', '(', '2016', ').', 'An', 'overview', 'of', 'research', 'methodology', 'in', 'information', 'system', '(', 'IS', ').', 'Open', 'Access', 'Library', 'Journal', ',', '3', '(', '11', '),', '1', '-', '9', '.']
Common words:  ['Al', 'Kilani', ',', 'M', '.,', '&', 'Kobziev', ',', 'V', '.', '(', '2016', ').', 'An', 'overview', 'of', 'research', 'methodology', 'in', 'information', 'system', '(', 'IS', ').', 'Open', 'Access', 'Library', 'Journal', ',', '3', '(', '11', '),', '1', '-', '9', '.']
Words in the first sentence after strip:  Al Kilani M & Kobziev V (2016) An overview of research methodology in information system (IS) Open Access Library Journal 3(11) 1-9
Words in the second sentence after strip:  Al Kilani M & Kobziev V (2016) An overview of research methodology in information system (IS) Open Access Library Journal 3(11) 1-9
a: 8
e: 9
i: 9
o: 10
u: 1

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math

for r in range(1, 11):
    V = (4/3) * math.pi * (r**3)
    print(f"For r = {r}, V = {V}")

For r = 1, V = 4.1887902047863905
For r = 2, V = 33.510321638291124
For r = 3, V = 113.09733552923254
For r = 4, V = 268.082573106329
For r = 5, V = 523.5987755982989
For r = 6, V = 904.7786842338603
For r = 7, V = 1436.7550402417319
For r = 8, V = 2144.660584850632
For r = 9, V = 3053.6280592892786
For r = 10, V = 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [33]:
# Your code here
import os

print("The current working directory is:", os.getcwd())
import shutil

source_file = "/content/sample_data/Assignment1_denton_housing.csv"
destination_file = "/content/Assignment1_denton_housing.csv"
shutil.copy(source_file, destination_file)

import pandas as pd 
# Read the CSV file into a DataFrame C:\Users\bdeve\Downloads
filename = "Assignment1_denton_housing.csv"
df = pd.read_csv(filename)
# Display the first 5 rows of the DataFrame
print(df.head())

The current working directory is: /content
   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [34]:
#Finding the Difference between Occupied Housing Units from year to year.
#Getting only Occupied Housing Units
occupied_df=df.loc[df['title_field'] == 'Occupied Housing Units']
occupied_df
occ_vals=occupied_df['value'].values
diffs=occ_vals[:-1]-occ_vals[1:]
years=["2014-2013","2013-2012","2012-2011","2011-2010","2010-2009","2009-2008"]
df2=pd.DataFrame()
df2['years']=years
df2['Difference']=abs(diffs)
print(df2)

print("Sorting the difference from year to year: ")
sorted_df = df2.sort_values(by='Difference')
print(sorted_df)

       years  Difference
0  2014-2013        2622
1  2013-2012        1565
2  2012-2011        1404
3  2011-2010         303
4  2010-2009        5091
5  2009-2008         795
Sorting the difference from year to year:
       years  Difference
3  2011-2010         303
5  2009-2008         795
2  2012-2011        1404
1  2013-2012        1565
0  2014-2013        2622
4  2010-2009        5091

In [30]:

vacant_df=df.loc[df['title_field']=='Vacant Housing Units']
vac_vals=vacant_df['value'].values
print(vacant_df)
print(vac_vals)
total_df=df.loc[df['title_field']=='Total Housing Units']
tot_vals=total_df['value'].values
print(total_df)
print(tot_vals)
perc_of_occupied=[] 
perc_of_vacant=[]
for i in range(7):
    perc_of_occupied.append(round(((occ_vals[i]/tot_vals[i])*100),2))

for i in range(7):
    perc_of_vacant.append(round(((vac_vals[i]/tot_vals[i])*100),2))

year=occupied_df['year'].values
print("Percentage of Vacant and Occupied Housing units for all years: ")
print("Year\tVacant Housing Units\tOccupied Housing Units")
for i in range(7):
    print("{}\t\t{:.2f}\t\t{:.2f}".format(year[i],perc_of_vacant[i],perc_of_occupied[i]))

    year           title_field  value
1   2014  Vacant Housing Units   2814
4   2013  Vacant Housing Units   4215
7   2012  Vacant Housing Units   3013
10  2011  Vacant Housing Units   4213
13  2010  Vacant Housing Units   3635
16  2009  Vacant Housing Units   3583
19  2008  Vacant Housing Units   4483
[2814 4215 3013 4213 3635 3583 4483]
    year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194
[49109 47888 45121 44917 44642 39499 41194]
Percentage of Vacant and Occupied Housing units for all years:
Year	Vacant Housing Units	Occupied Housing Units
2014		5.73		94.27
2013		8.80		91.20
2012		6.68		93.32
2011		9.38		90.62
2010		8.14		91.86
2009		9.07		90.93
2008		10.88		89.12

In [32]:
maxvacant=max(vac_vals)
maxoccupied=max(occ_vals)
maxyearoccupied=occupied_df[occupied_df['value']==maxoccupied]['year'].item()
maxyearvacant=vacant_df[vacant_df['value']==maxvacant]['year'].item()
print("Highest number of housing units that were vacant and occupied:")
print("\t\t\tYear\t\tValue")
print("Vacant Housing Units:\t{}\t\t{}".format(maxyearvacant,maxvacant))

print("Total Housing Units:", end="\n")
print(total_df)
print('Values:',tot_vals)
reciprocals = [1/x for x in tot_vals]
harmonic_mean = len(tot_vals) / sum(reciprocals)
print("Harmonic Mean: ",harmonic_mean)

Highest number of housing units that were vacant and occupied:
			Year		Value
Vacant Housing Units:	2008		4483
Total Housing Units:
    year          title_field  value
0   2014  Total Housing Units  49109
3   2013  Total Housing Units  47888
6   2012  Total Housing Units  45121
9   2011  Total Housing Units  44917
12  2010  Total Housing Units  44642
15  2009  Total Housing Units  39499
18  2008  Total Housing Units  41194
Values: [49109 47888 45121 44917 44642 39499 41194]
Harmonic Mean:  44398.28543969185